/*!
 * Start Bootstrap - Landing Page v5.0.9 (https://startbootstrap.com/theme/landing-page)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-landing-page/blob/master/LICENSE)
 */

body {
  text-align: center;
  background-color: #6A40BF;
  font-family: 'Red Hat Display', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 4rem;
  color: white;
  padding: 3rem;
}

header.masthead {
  position: relative;
  background: url("../img/LOGO_WERISE_ROXO.png") no-repeat center center;
  background-size: cover;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}


form {
  display:grid;
  font-size: 18pt;
  color:white;
  padding: 5px 200px;
  padding-bottom: 100px;
}

table{
  font-size: 1rem;
}

td{
  vertical-align: top;
}

input {
  border-radius: 10px;
}

textarea {
  border-radius: 10px;
}


footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #999999;
}